.data-charts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 12px;

  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.data-chart-area {
  position: relative;
}

.chart {
  display: flex;
  height: 154.583px;
  min-width: 200px;
  max-width: 272px;
  min-height: 154.583px;
  max-height: 154.583px;
  overflow: hidden;
  padding: 10.702px 13.08px 8.324px 13.08px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.647px;
  flex: 1 1 0;
  border-radius: 7.135px;
  border: 0.595px solid #eaecf0;
  background: #fff;
  box-shadow: 0px 3.567px 5.946px 0px rgba(177, 177, 177, 0.08),
    0px 0.595px 1.784px 0px rgba(0, 0, 0, 0.02);
}
/* for mobile screen change flex direction of .data-charts to column */
@media screen and (max-width: 576px) {
  .data-charts {
    flex-direction: column;
    align-items: center;
  }
  .chart {
    width: 100%;
    max-width: 550px;
  }
}
.chart-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  align-self: stretch;
}
.chart-header-left {
  display: flex;
  align-items: center;
  gap: 4.756px;
  color: #080808;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.647px; /* 140% */
  letter-spacing: -0.119px;
}
.chart-header-right {
  display: flex;
  align-items: center;
  gap: 3px;
}
.chart-logo {
  width: 14.269px;
  height: 14.269px;
  align-items: center;
}

.red {
  color: #fc5452;
  font-family: "inter";
  font-size: 9.513px;
  font-style: normal;
  font-weight: 600;
  line-height: 9.513px; /* 100% */
}
.green-text {
  color: #1dbf73;
  font-family: "inter";
  font-size: 9.513px;
  font-style: normal;
  font-weight: 600;
  line-height: 9.513px; /* 100% */
}
.chart-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.647px;
  align-self: stretch;
}
.chart-main-value {
  color: #080808;
  font-family: "inter";
  font-size: 19.026px;
  font-style: normal;
  font-weight: 600;
  line-height: 23.782px; /* 125% */
  letter-spacing: -0.571px;
}
.data-plot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.378px;
  align-self: stretch;
}

.data-bars {
  display: flex;
  align-items: flex-end;
  gap: 1.189px;
  align-self: stretch;
  position: relative;
}

.data-chart-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  align-self: stretch;
}

.bar-grey {
  height: 25.186px;
  /* width: 10px; */
  flex: 1 0 0;
  border-radius: 59.455px;
  background: #efefef;
}
.bar1 {
  height: 10px;
}
.bar2 {
  height: 30px;
}
.bar3 {
  height: 20px;
}
.bar4 {
  height: 50px;
}
.bar4 {
  height: 40px;
}

.chart-divider {
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  stroke-width: 0;
  border: 0;
}
.x-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.378px;
  align-self: stretch;
}
.data-tag {
  display: flex;
  width: 30.368px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25%;
  top: -5px;
}

/* for mobile screen */
@media screen and (max-width: 768px) {
  .data-tag {
    left: 28.2%;
  }
}

.data-tag-box {
  display: flex;
  padding: 0.595px 3.567px;
  align-items: flex-start;
  gap: 5.946px;
  border-radius: 2.378px;
  background: #ff9f0a;
  /* text */
  color: #fff;
  font-family: "inter";
  font-size: 8.324px;
  font-style: normal;
  font-weight: 600;
  line-height: 11.891px; /* 142.857% */
}
.blue {
  background: #5654d4;
}
.green {
  background: #1dbf73;
}
.bar-orange {
  background-color: #ff9f0a;
}
.bar-blue {
  background-color: #5654d4;
}
.bar-green {
  background-color: #1dbf73;
}
.bar-pink,
.pink {
  background-color: #ff0a80;
}

.bar-purple,
.purple {
  background-color: #d454c7;
}

.avg-tag {
  display: flex;
  align-items: flex-start;
  position: absolute;
  /* left: 13px; */
  bottom: 25px;
  gap: 0;
}

.avg-tag-box {
  display: flex;
  padding: 1.189px 1.189px 1.189px 2.378px;
  align-items: flex-start;
  border-radius: 2.378px 0px 0px 2.378px;
  background: #030303;

  margin: 0;
  /* text */
  color: #fff;
  font-family: "inter";
  font-size: 7.135px;
  font-style: normal;
  font-weight: 400;
  line-height: 7.135px; /* 100% */
}

.avg-line {
  height: 0;
  width: 100%;
  position: absolute;
  /* right: 12.917px; */
  bottom: 29px;
  border-width: 0;

  border-top: 1px dashed #030303;
}
.label-box {
  display: flex;
  padding: 2.378px;
  justify-content: center;
  align-items: center;
  gap: 2.378px;
  flex: 1 0 0;
  /* text */
  color: #878787;
  text-align: center;
  font-family: "inter";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px; /* 100% */
}
