* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "sans-serif";
  font-weight: 500;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
h1 {
  font-family: "San Francisco", sans-serif;
  font-size: 24px;
}
body {
  background: #fafafa;
  height: 100svh;
}
.main {
  width: 100%;
  max-width: 1142px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.header {
  display: flex;
  padding: 16.647px 11.891px 11.891px 11.891px;
  justify-content: space-between;
  align-items: center;
  gap: 9.513px;
  align-self: stretch;
  background: #fafafa;
}
.logo {
  width: 24px;
}
.logo img {
  width: 24px;
}
.header-interaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 562px) {
  .header-interaction {
    align-items: start;
  }
}
.left-header,
.right-header {
  display: flex;
  gap: 9.513px;
  align-items: center;
}

.welcome {
  color: #101828;
  font-family: Inter;
  font-size: 15.458px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.593px; /* 146.154% */
}
.button {
  display: flex;
  padding: 5.946px 8.324px;
  justify-content: center;
  align-items: center;
  gap: 2.378px;
  border-radius: var(--radius-md, 4.756px);
  border: 0.595px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 0.595px 1.189px 0px rgba(16, 24, 40, 0.05);
  color: #344054;

  /* Text sm/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.search {
  border: 0;
  background: #fafafa;
}

.customize-icon,
.export-icon,
.search-icon {
  width: 14px;
  height: 14px;
}
