.data-charts-masonry {
  width: 100%;
  padding: 12px;

  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 9.513px;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.left-column {
  width: 60%;
  display: flex;
  min-width: 190.256px;
  flex-direction: column;
  align-items: flex-start;
  gap: 9.513px;
  align-self: stretch;
  /* flex: 1 0 0; */
}

.left-column .data-charts {
  padding: 0;
}

.right-column {
  width: 40%;
  display: flex;
  min-width: 190.256px;
  flex-direction: column;
  align-items: flex-start;

  gap: 9.513px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 0.595px solid #eaecf0;
  background: #fff;
}

.right-col-content {
  display: flex;
  padding: 14.269px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
}
.right-col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  /* text */
  color: #101828;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 155.556% */
}
.table {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.table-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #d454c7;
  font-size: 11px;
}
.table-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.595px solid #eaecf0;
}
.row-left {
  display: flex;
  height: 45px;
  padding: 10px 15px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.payment-logo {
  width: 28px;
  height: 20px;
  fill: #fff;
  stroke-width: 0.6px;
  stroke: #eaecf0;
}

.payment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.payment-title {
  overflow: hidden;
  color: #101828;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 142.857% */
}
.payment-subtitle {
  overflow: hidden;
  color: #475467;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 142.857% */
}

.amount {
  color: #079455;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.891px; /* 142.857% */
}

/* for mobile screen change flex direction of .data-charts to column */
@media screen and (max-width: 576px) {
  .data-charts {
    flex-direction: column;
    align-items: center;
  }
  .chart {
    width: 100%;
    max-width: 550px;
  }
  .left-column {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .chart {
    width: 100%;
    max-width: 550px;
  }
}

.bar-chart-card {
  display: flex;
  width: 100%;
  /* height: 250px; */
  min-width: 190.256px;
  /* min-height: 250px; */
  /* max-height: 250px; */
  padding: 10.702px 13.08px 9.513px 13.08px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  /* align-items: flex-start; */
  gap: 5.946px;
  flex: 1 0 0;
  border-radius: 14.269px;
  background: #fff;
  box-shadow: 0px 3.567px 5.946px 0px rgba(177, 177, 177, 0.08),
    0px 0.595px 1.784px 0px rgba(0, 0, 0, 0.02);
}
.chart-header-right-more {
  display: flex;
  width: 21.404px;
  height: 21.404px;
  padding: 2.378px;
  justify-content: center;
  align-items: center;
  gap: 3.567px;
  border-radius: 7.135px;
  border: 0.595px solid #e0e0e0;
  background: #fff;
  box-shadow: 0px 0.595px 1.189px 0px rgba(0, 0, 0, 0.05);
}

.bar-chart-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}
.chart-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.chart-value div {
  color: #5654d4;
  font-family: Inter;
  font-size: 19.026px;
  font-style: normal;
  font-weight: 600;
  line-height: 23.782px; /* 125% */
  letter-spacing: -0.571px;
}
.index {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.net-income,
.gross-income {
  display: flex;
  align-items: center;
  gap: 3px;
}
.net-income span,
.gross-income span {
  color: #080808;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 8.324px; /* 100% */
}

.bar-graph-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.026px;
  align-self: stretch;
}
.stack-bar-plot {
  display: flex;
  align-items: flex-end;
  gap: 7.135px;
  align-self: stretch;
}
.stack-bar {
  display: flex;
  min-height: 75px;
  padding: 0px 5px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.rectangle1 {
  height: 30px;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
  background: #efefef;
}

.rectangle2 {
  height: 50px;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  background: #5654d4;
}

.rectangle3 {
  height: 100px;
  width: 100%;
  border-radius: 3px 3px 0px 0px;
  background: #efefef;
}

.rectangle4 {
  height: 65px;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  background: #5654d4;
}

.sticky {
  position: fixed;
  width: 100%;
  padding: 12px;
  text-align: center;
  color: chocolate;
  text-decoration: none;
  bottom: 0;
  z-index: 100;
  background-color: #efefef;
}
a {
  text-decoration: none;
  color: chocolate;
  font-weight: 600;
}
